services:
	- App\Services\RouterFactory::createRouter
	- App\UI\Controls\BookForm
	- App\UI\Controls\UploadBooksForm
	- App\Model\Books


search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
